/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 30;
    background: #1F2739;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 53px;
}

#sidebar.active {
    left: 0;
    overflow:hidden;
    width: 270px; !important;
}



#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #1F2739;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #1F2739;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


#sidebar ul li a span{
    color:white;
}





#sidebar ul li>a,
a[aria-expanded="true"] {
    color: #fff;
}


.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 25%;
    color: #13a4a8;
    margin-top: 6.5px;
}

.arrow2::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 12%;
    color: #13a4a8;
    margin-top: 6.5px;
}
.arrow3::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 35%;
    color: #13a4a8;
    margin-top: 6.5px;
}
.arrow4::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 5%;
    color: #13a4a8;
    margin-top: 6.5px;
}
.arrow5::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 32%;
    color: #13a4a8;
    margin-top: 6.5px;
}
.arrow6::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 33%;
    color: #13a4a8;
    margin-top: 6.5px;
}
.arrow7::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 46%;
    color: #13a4a8;
    margin-top: 6.5px;
}
.arrow8::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #13a4a8;
    clear: both;
    right: 53%;
    color: #13a4a8;
    margin-top: 6.5px;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1F2739;
}

#sidebarCollapse {
    background: #0bc3bb;
    position: fixed;
    z-index: 10;
    top: 10%;
    left: 10px;
}

#sidebarCollapse:hover, #sidebarCollapse:active {
    background: #3685A9;
}