<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="OSWINDS">
    <meta name="keyword" content="covid19, deaths, cases, greece,covid-19,pandemia">

    <title> COVID-19 Overview</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--external css-->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://cdn.anychart.com/css/latest/anychart-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/info-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>


    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script src="https://d3js.org/d3.v4.js"></script>

    <script src="{{ url_for('static', filename='js/infopop.js') }}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="wrapper">
    <nav id="sidebar" style="background: #2c363f">

        <div id="dismiss">
            <i class="fa fa-arrow-left"></i>
        </div>
        <ul class="nav nav-tabs" style="font-size: 12px">
            <li class="active"><a id="text" href="#first-tab">Stats</a></li>
            <li style="display: none;"><a id="text" href="#">Models</a></li>
            <li style="display: none;"><a id="text" href="#">Social</a></li>
            <li style="display: none"><a id="text" href="#">About</a></li>
        </ul>
        <ul class="list-unstyled components" id="first-tab">
            <li class="active">
                <a id="scroll" href="#infopop">
                    <img src="/static/img/panel-world-icon.png" class="fa fa-home">
                    <span class="arrow" onclick="myFunction()">Worldwide Spread</span>
                </a>
                <div id="overview" style="display: none;">
                    <span style="display: block;font-weight: bold;font-size: 17px;">Overview</span>
                    <span style="display: block;margin-top: 20px;">Confirmed Cases: <span style="font-weight: bold;" id="total-cases"></span></span>
                    <span style="display: block">Deceased: <span style="font-weight: bold" id="total-deaths"></span></span>
                    <span style="display: block">Recovered: <span style="font-weight: bold;" id="recovered_global"></span></span>
                    <span style="display: block">Infected countries: <span style="font-weight: bold;" id="countries"></span></span>
                    <span style="font-size:12px;" id="time">No</span>
                </div>
            </li>
            <li style="margin-top:15px;">
                <a id="scroll" href="#row1">
                    <img src="/static/img/panel-cases-icon.png" class="fa fa-ambulance">
                    <span class="arrow2" style="font-weight: bold;font-size: 17px;">Daily Confirmed Cases</span>
                </a>
            </li>
            <li>
                <a id="scroll" href="#row2">
                    <img src="/static/img/panel-deceased-icon.png" class="fa fa-heartbeat">
                    <span class="arrow3" style="font-weight: bold;font-size: 17px;">Daily Deceased</span>
                </a>
            </li>
            <li style="width:104%">
                <a id="scroll" href="#row3">
                    <img src="/static/img/panel-distributions-icon.png" class="fa fa-line-chart">
                    <span class="arrow4" style="font-weight: bold;font-size: 17px;">Cumulative Distributions</span>
                </a>
            </li>
            <li>
                <a id="scroll" href="#row4">
                    <img src="/static/img/panel-survival-icon.png" class="fa fa-bar-chart-o">
                    <span class="arrow5" style="font-weight: bold;font-size: 17px;">Survival Trends</span>
                </a>
            </li>

            <li>
                <a id="scroll" href="#row55">
                    <img src="/static/img/panel-EU-China-icon.png" class="fa fa-flag">
                    <span class="arrow6" style="font-weight: bold;font-size: 17px;">Europe - China</span>
                </a>
            </li>

            <li>
                <a id="scroll" href="#row5">
                    <img src="/static/img/panel-corruption-icon.png" class="fa fa-money">
                    <span class="arrow7" style="font-weight: bold;font-size: 17px;">Corruption</span>
                </a>
            </li>

            <li>
                <a id="scroll" href="#row6">
                    <img src="/static/img/panel-freedom-icon.png" class="fa fa-commenting-o">
                    <span class="arrow8" style="font-weight: bold;font-size: 17px;">Freedom</span>
                </a>
            </li>

{#            <li>#}
{#                <a href="#row7">#}
{#                    <i class="fa fa-map-o"></i>#}
{#                    <span>Χάρτης</span>#}
{#                </a>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <a href="#row8">#}
{#                    <i class="fa fa-table"></i>#}
{#                    <span>Αναλυτικός Πίνακας</span>#}
{#                </a>#}
{#            </li>#}
        </ul>
        <div style="margin-top:90px">
            <div class="row" style="margin-bottom: 0 !important;">
            <div class="col-6" style="background: #0a0b10">
               <a href="https://datalab.csd.auth.gr/" target="_blank"><img src="/static/img/DataLab_Logo_Transparent%20(2).png" style="margin-top: 20px;"></a>
            </div>
            <div class="col-6" style="background: #40bcbd">
                <a href="https://www.auth.gr/en" target="_blank"><img src="/static/img/auth-horizontal-black-en.png" style="width:120px;"></a>
                <a href="http://www.csd.auth.gr/" target="_blank"><img src="/static/img/csd_logo_eng%20(2).png" style="width:110px;"></a>
            </div>
        </div>
        <div class="row">
                <footer class="site-footer">
                    <div class="text-center" style="font-size: 15px;">
                            © 2020 <a href="https://datalab.csd.auth.gr/" target="_blank">DATALAB</a>, ο κώδικας μπορεί να βρεθεί <a
                             href="https://github.com/idimitriadis/covid" target="_blank">εδώ</a>
                    </div>
                </footer>
            </div>
        </div>

    </nav>

    <div id="content" style="background:#444b55">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-darker">
                    <div class="container-fluid">
                        <div class="col-6" id="first-part">
                            <img id="logo-img" src="static/img/DataLab_Logo_Transparent.png">
                            <a href="/" class="logo"><span id="virus">COVID-19</span> | <span id="panel">data exposure panel</span></a>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <img src="static/img/csd_logo_eng.png" style="height: 30px;width: 30px;
                                    margin-left: 40px;margin-top: 10px">
                                </div>
                                <div class="col-4">
                                    <img src="static/img/LogoAUTHwhite300ppi.png" style="height: 30px;width: 30px;
                                    margin-left: 30px;margin-top: 10px">
                                </div>
                            </div>
                        </div>
                        </div>
                </nav>
            </div>

            <div class="row below-header">
                <div class="row">
                        <h1 id="title">Worldwide Spread<i class="fa fa-info-circle infopop-icon"></i> </h1>
                        <div class="infopop">
                            <p>The map below presents graphic information regarding the confirmed cases and deaths for each country.
                            By clicking on one of the virus icons, you can see information for a specific country.</p>
                        </div>
                    </div>
                <div class="col-2">
                            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                                <i class="fa fa-align-left"></i>
                                <span>Μενού</span>
                            </button>
                            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-align-justify"></i>
                            </button>
                        </div>
                <div class="col">

                </div>
            </div>

                <div class="row">
                    <div class="col-9">
                        <div class="row case-charts" id="row7">
                    <div class="col">
                        <div class="map" id="map" style="height: 610px; width:100%"></div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6"><div class="map" id="mapGR"></div></div> -->
                </div>
{#                        <!-- PANEL GRID -->#}
{#                        <div class="row case-charts" id="panel2">#}
{#                            <div class="col">#}
{##}
{#                                <div class="row">#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-primary align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Κρούσματα (Κόσμος) <i#}
{#                                                    class="fa fa-globe"></i>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p class="card-text" id="total-cases"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-danger align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Θάνατοι (Κόσμος) <i#}
{#                                                    class="fa fa-globe"></i>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="total-deaths"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="row">#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-primary align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Κρούσματα (Ελλάδα) <img#}
{#                                                    src="static/img/gr.png"#}
{#                                                    style="width:12px; height:12px; filter: invert(100%);"/>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="total-cases-gr"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-danger align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Θάνατοι (Ελλάδα) <img#}
{#                                                    src="static/img/gr.png"#}
{#                                                    style="width:12px; height:12px;"/>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="total-deaths-gr"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-success align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Αναρρώσεις (Ελλάδα) <img#}
{#                                                    src="static/img/gr.png"#}
{#                                                    style="width:12px; height:12px;"/>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="recovered_greece"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="row">#}
{#                                    <div class="col-12-6" style="margin-right:auto">#}
{#                                        <div class="card bg-primary align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Κρούσματα (ΕΕ) <img#}
{#                                                    src="static/img/eu-white.png"#}
{#                                                    style="width:18px; height:18px;"/>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="cases-EU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-12-6" style="margin-right:auto">#}
{#                                        <div class="card bg-danger align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Θάνατοι (ΕΕ) <img src="static/img/eu.png"#}
{#                                                                                       style="width:18px; height:18px;"/>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="deaths-EU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-12-6">#}
{#                                        <div class="card bg-primary align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Κρούσματα (εκτός ΕΕ)</div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="cases-Non-EU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-12-6" style="margin-left:auto">#}
{#                                        <div class="card bg-danger align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Θάνατοι (εκτός ΕΕ)</div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="deaths-Non-EU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="row">#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-info align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Kρούσματα σήμερα (Κόσμος) <i#}
{#                                                    class="fa fa-globe"></i></div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="casesTodayGlobal"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-info align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Kρούσματα σήμερα (ΕΕ) <img#}
{#                                                    src="static/img/eu.png"#}
{#                                                    style="width:18px; height:18px;"/>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="casesTodayEU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-info align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Kρούσματα σήμερα (εκτός ΕΕ)</div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="casesTodayNonEU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="row">#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-warning align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Θάνατοι σήμερα (Κόσμος) <i#}
{#                                                    class="fa fa-globe"></i>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="deathsTodayGlobal"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-warning align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Θάνατοι σήμερα (ΕΕ) <img#}
{#                                                    src="static/img/eu.png"#}
{#                                                    style="width:18px; height:18px;"/>#}
{#                                            </div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="deathsTodayEU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        <div class="card bg-warning align-items-center" style="height: 150px;">#}
{#                                            <div class="card-header">Θάνατοι σήμερα (εκτός ΕΕ)</div>#}
{#                                            <div class="card-body">#}
{#                                                <p id="deathsTodayNonEU"></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <!--    TABLE -->
                    <div class="col-3">
                        <div >
                            <div class="row case-charts scroll-it" id="row8">
                                <table class="table-container" id="info-table">
                                    <col width="130">
                                    <col width="80">
                                    <col width="100">
                                    <thead>
                                    <tr>
                                        <th id="country-cell"><a onclick="SortTable(0,'T')"><span style="cursor: pointer">Country</span></a></th>
                                        <th  id="cases-cell"><a onclick="SortTable(1,'N')"><span style="margin-right:15px;cursor: pointer">Cases</span></a></th>
                                        <th><a onclick="SortTable(2,'N')"><span  style="margin-right:15px;cursor: pointer">Deceased</span></a></th>
                                    </tr>
                                    </thead>
                                    <tbody id="info-table-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 1st PLOT -->
                <div class="row case-charts" id="row1">
                    <div class="col">

                        <div class="row">
                            <h4>Κρούσματα ανά ημέρα. Σύγκριση κόσμου με Ελλάδα <i class="fa fa-info-circle infopop-icon"></i></h4>
                            <div class="infopop">
                                <p>Περιγράφει τον αριθμό κρουσμάτων ανά ημέρα για κάθε χώρα. Ο χρήστης μπορεί να
                                    συγκρίνει δύο χώρες μεταξύ τους ή και συνολικά όλες τις χώρε με μία
                                    συγκεκριμένη. Τα
                                    δεδομένα είναι σε λογαριθμική μορφή. Σκοπός του γραφήματος είναι να αποδώσει
                                    την
                                    τάση εξάπλωσης τών κρουσμάτων του COVID-19 από χώρα σε χώρα.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="margin: 2em 2em 2em 0" class="form-group">
                                    <label for="selectField1"><b>Επιλογή Χώρας</b></label>
                                    <select id="selectField1" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div style="margin: 2em 2em 2em 0" class="form-group">
                                    <label for="selectField2"><b>Επιλογή Χώρας</b></label>
                                    <select id="selectField2" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary" onclick="compareCases()">Δείξε
                                    αποτελέσματα
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="panel-body">
                                    <div id="cases-per-day" class="graph"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2nd PLOT -->
                <div class="row case-charts" id="row2">
                    <div class="col">
                        <div class="row">
                            <h4>Ποσοστό θανάτων ανά ημέρα. Σύγκριση κόσμου με Ελλάδα <i class="fa fa-info-circle infopop-icon"></i></h4>
                            <div class="infopop">
                                <p>Περιγράφει το ποσοστό θανάτων ανά ημέρα συγκρίνοντας όλη την υφήλιο με άλλες
                                    χώρες ή
                                    και χώρες μεταξύ τους. Το ποσοστό θανάτων υπολογίζεται από τον αριθμό
                                    θανάτων
                                    προς
                                    τον αριθμό κρουσμάτων κάθε χώρας. Όμοια με το προηγούμενο γράφημα και το
                                    συγκεκριμένο προσπαθεί να αποδώσει την τάση όσον αφορά τα περιστατικά και
                                    τους
                                    θανάτους.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="margin: 2em 2em 2em 0" class="form-group">
                                    <label for="selectFieldDeath1"><b>Επιλογή Χώρας</b></label>
                                    <select id="selectFieldDeath1" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div style="margin: 2em 2em 2em 0" class="form-group">
                                    <label for="selectFieldDeath2"><b>Επιλογή Χώρας</b></label>
                                    <select id="selectFieldDeath2" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary" onclick="compareDeaths()">
                                    Δείξε αποτελέσματα
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="panel-body">
                                    <div id="death-ratio" class="graph"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 3RD CHART(S)!! -->
                <div class="row case-charts" id="row3">
                    <div class="col-6">
                        <h4> CDF <i class="fa fa-info-circle infopop-icon"></i></h4>
                        <div class="infopop">
                            <p>Το CDF είναι μία μαθηματική μετρική που στην περίπτωση μας δηλώνει την πιθανότητα μία χώρα να έχει λιγότερα από τα εκάστοτε κρούσματα.
                            Παράδειγμα: για την τιμή x = 39.00, η τιμή y είναι 0.5 που σημαίνει ότι οι μισές χώρες έχουν αριθμό κρουσμάτων μικρότερο ή ίσο του 39.</p>
                        </div>
                        <div class="panel-body">
                            <div id="cdf-global" class="graph"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>CDF GREECE <i class="fa fa-info-circle infopop-icon"></i></h4>
                        <div class="infopop">
                            <p>Το CDF για την Ελλάδα δείχνει την πιθανότητα μια μέρα να έχει λιγότερα από τα εκάστοτε κρούσματα.
                            Παράδειγμα: για την τιμή x = 57.00, η τιμή y είναι 0.98 που σημαίνει ότι σχεδόν όλες οι δηλωμένες μέρες (0.98)
                            έχουν αριθμό κρουσμάτων μικρότερο ή ίσο του 57. Αλλιώς δεν υπάρχει μέρα που τα κρούσματα ξεπέρασαν τα 57.</p>
                        </div>
                        <div class="panel-body">
                            <div id="cdf-greece" class="graph"></div>
                        </div>
                    </div>
                </div>
                <!-- THIRD ROW!! -->
                <div class="row case-charts" id="row4">
                    <div class="col-6">
                        <h4>ODDS <i class="fa fa-info-circle infopop-icon"></i></h4>
                        <div class="infopop">
                            <p>Το Odds ratio είναι μία μαθηματική μετρική για το οποίο ODDS=1 σημαίνει ότι οι χώρα και ο αριθμός κρουσμάτων δεν σχετίζονται,
                                ODDS > 1 σημαίνει η επιλογή της χώρας ενισχύει την πιθανότητα να εντοπισθούν τα αντίστοιχα κρούσματα και ODDS < 1 αντίστροφα.
                            Παράδειγμα: για την τιμή x = 1152.00, η τιμή y είναι 1.1 που σημαίνει ότι αν ξέρω ότι το πλήθος των κρουσμάτων είναι τουλάχιστον 1152 τότε ξέρω
                                με μεγαλύτερη βεβαιότητα σε ποια χώρα αυτά εμφανίστηκαν. Αντίθετα για x=82, y=0.37 που σημαίνει ότι δεν μπορώ να συμπεράνω ποια χώρα
                                έχει τουλάχιστον 82 κρούσματα, αφού αυτές είναι πολλές.</p>
                        </div>
                        <div class="panel-body morris-chart">
                            <div id="pdf-global" class="graph"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>ODDS GREECE <i class="fa fa-info-circle infopop-icon"></i></h4>
                        <div class="infopop">
                            <p>Το Odds ratio για την Ελλάδα δείχνει ότι αν ODDS=1 η μέρα και ο αριθμός κρουσμάτων δεν σχετίζονται,
                                ODDS > 1 η επιλογή της μέρας ενισχύει την πιθανότητα να εντοπισθούν τα αντίστοιχα κρούσματα και ODDS < 1 αντίστροφα.
                            Παράδειγμα: για την τιμή x = 57.00, η τιμή y είναι 1.89 που σημαίνει ότι αν ξέρω ότι το πλήθος των κρουσμάτων είναι τουλάχιστον 57 τότε ξέρω
                                με μεγαλύτερη βεβαιότητα ποια μέρα αυτά εντοπίστηκαν. Αντίθετα για x=6, y=0.75 που σημαίνει ότι δεν μπορώ να συμπεράνω ποια μέρα
                                έχει τουλάχιστον 6 κρούσματα, αφού αυτές είναι πολλές.</p>
                        </div>
                        <div class="panel-body">
                            <div id="pdf-greece" class="graph"></div>
                        </div>
                    </div>
                </div>
                <!-- FOURTH ROW: 3rd PLOT -->
                <div class="row case-charts" id="row55">
                    <div class="col">
                        <h4>Καμπύλη κρουσμάτων Κίνας κι Ευρώπης <i class="fa fa-info-circle infopop-icon"></i></h4>
                        <div class="infopop">
                            <p>Σε αυτό το γράφημα παρατηρούμε τις ομοιότητες μεταξύ της καμπύλης που σχηματίζεται από τα κρούσματα της Κίνας και την καμπύλη από τα κρούσματα στην Ευρώπη. Συγκεκριμένα η ευρωπαϊκή καμπύλη δείχνει απλά να έπεται περίπου 1,5 μήνα,  κάτι που σημαίνει ότι αν συνεχίσει ώς έχει, το lockdown στην Ευρώπη θα κρατήσει σίγουρα ως και τις αρχές Μαϊου.</p>
                        </div>
                        <div class="panel-body">
                            <div id="china-eu" class="graph"></div>
                        </div>
                    </div>
                </div>
                <div class="row case-charts" id="row5">
                    <div class="col">
                        <h4>Κρούσματα και διαφθορά <i class="fa fa-info-circle infopop-icon"></i></h4>
                        <div class="infopop">
                            <p>Το παρακάτω γράφημα περιγράφει την συσχέτιση της αίσθησης της διαφθοράς των
                                διαφόρων
                                κρατών, όπως την αντιλαμβάνονται οι πολίτες, σε σχέση με τον καταγεγραμμένο
                                αριθμό
                                κρουσμάτων. Παρατηρείστε τον <strong>αυξημένο</strong> αριθμό περιστατικών στις
                                χώρες με
                                <strong>χαμηλό</strong> δείκτη διαφθοράς! Οι τιμές για την διαφθορά και για τα
                                καταγεγραμμένα περιστατικά είναι σε λογαριθμική μορφή.</p>
                        </div>
                        <div class="panel-body">
                            <div id="cases-per-capita" class="graph"></div>
                        </div>
                    </div>
                </div>
                <!-- FIFTH ROW -->
                <div class="row case-charts" id="row6">
                    <div class="col">
                        <h4>Κρούσματα και αίσθηση ελευθερίας <i class="fa fa-info-circle infopop-icon"></i></h4>
                        <div class="infopop">
                            <p>Το παρακάτω γράφημα περιγράφει την συσχέτιση του δείκτη ελευθερίας κάθε χώρας με
                                τον
                                καταγεγραμμένο αριθμό κρουσμάτων. Παρατηρείστε κι εδώ τον
                                <strong>αυξημένο</strong>
                                αριθμό περιστατικών στις χώρες με <strong>υψηλό</strong> δείκτη ελευθερίας!
                                Συμπερασματικά θα λέγαμε ότι όπου ο δείκτης ελευθερίας είναι σχετικά υψηλός, η
                                καταγραφή
                                των περιστατικών είναι πιο αξιόπιστη. Τα δεδομένα και σε αυτή την περίπτωση
                                είναι σε
                                λογαριθμική μορφή.</p>
                        </div>
                        <div class="panel-body">
                            <div id="humanfreedomCountry" class="graph"></div>
                        </div>
                    </div>
                </div>
                <!--    CASES MAP -->
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    var path = "{{ url_for('static', filename='data/table-data.csv') }}";
</script>

<script type="text/javascript">
    var currentdate = new Date();
    var datetime = "Last update: " + currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
    document.getElementById('time').textContent = datetime;
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<!--common script for all pages-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>



<!--script for this page-->
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js')}}"></script>
<script src="{{ url_for('static', filename='js/morris/morris-plain.js') }}"></script>
<script src="{{ url_for('static', filename='js/bind-variables.js') }}"></script>

</body>

</html>
